main {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-bg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-bg-container img {
  position: absolute;
  width: 100%;
  height: 25%;
  flex-shrink: 0;
  mix-blend-mode: screen;
}

#hero {
  padding: 3rem 0;
  background: linear-gradient(to top,
      var(--bg-primary),
      var(--bg-primary) 40%,
      transparent 50%);
}

#hero .container {
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#hero div:first-of-type {
  margin-bottom: 4rem;
}


#hero .container.content {
  flex-direction: column;
}

#hero img {
  width: 100%;
  height: 100%;
  max-width: 30rem;
}

h1 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 1.5rem;
}

section h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

#products {
  mix-blend-mode: multiply;

}

#products ul {
  margin: 1.75rem 0 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.company-container {
  position: relative;
  overflow: hidden;
  background-color: #131515;
}

.company-container img#texture {
  position: absolute;
  object-fit: cover;
  height: 200%;
  width: 200vw;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
}

#about .container {
  color: var(--text-secondary);
  padding-top: 4rem;
}

#about .icon-container {

  display: flex;
  justify-content: center;
  align-items: center;
}

#about svg {
  margin-left: 2rem;
  z-index: 9;
}

#about svg path#heart {
  fill: #131515;
}

#careers {

  color: var(--accent);
  padding-bottom: 3.75rem;
  padding: 0 2rem 3.75rem;
}

#careers .container {
  background-color: rgb(0, 0, 0, .8);
  padding: 0;
}

#careers .container .box {

  border: 1px solid var(--accent);
  border-radius: 1.5rem;
  padding: 4.5rem 1rem;
  mix-blend-mode: lighten;
}

#careers h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 6.4px;
  word-wrap: break-word;
}

#careers .link-container {
  background-color: var(--accent);
  border-radius: 0.75rem;
}

#careers a {
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
}

#customers {
  background-color: #131515;
  color: var(--text-secondary);
  padding: 2.5rem 1.5rem;
}

#customers h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 6.4px;
  padding-bottom: 0;
  text-align: center;
}

#customers h2 svg {
  margin: -0.25rem 0.5rem;
  height: 2rem;
}

#news {
  position: relative;
  overflow: hidden;
}

#news img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
}

#news .container {
  padding: 9rem 0 9rem 1.3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

#news h2 {
  color: #181d1c;
  font-size: 3rem;
  mix-blend-mode: darken;

}

#news .card-carousel {
  display: flex;
  gap: 1rem;
  overflow: auto;
  padding: 1rem 0;


}

#news .card-carousel::-webkit-scrollbar {
  display: none;
}

#news .news-card {
  width: 20rem;
  height: 20rem;
  background-color: #c7e4b6;
  border: 1px solid #a8c896;
  border-radius: 0.5rem;
  flex: 0 0 auto;
  mix-blend-mode: darken;
  padding: 1rem;
  flex: 1 0 auto;
  margin-right: 1rem;
}

#news .news-card * {
  margin-bottom: 1rem;
}

#contact {
  padding: 8rem 0 6rem;
}

#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h2 {
  font-size: 3rem;
}

#contact p {
  text-align: center;
}

#contact .link-container {
  background-color: #181d1c;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
}

#contact a {
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-decoration: none;
}

@media screen and (min-width: 390px) {
  #news .container {
    padding: 9rem 0 9rem 2rem;
  }
}

@media (min-width: 768px) {
  #hero {
    padding: 6rem 0;
    align-self: flex-start;
  }

  #hero .container {
    flex-direction: row;
    align-items: center;
  }

  #hero img {
    width: 140%;
    height: 140%;
  }

  .hero-bg-container img {
    position: absolute;
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    mix-blend-mode: screen;
  }

  #news .container {
    padding: 9rem 0 9rem 4rem;
  }
}

@media (min-width: 1200px) {
  #hero {
    align-self: center;
  }

  #news .container {
    padding: 9rem 0 9rem 2rem;
  }
}