:root {
  --accent: #52d30a;
  --accent-light: #a8c896;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%);

  --bg-primary: #d1ecc2;
  --text-primary: #181d1c;
  --text-secondary: #ffffff;

  --font-family: Roboto Mono;
}

html {
  font-family: var(--font-family), system-ui, sans-serif;
  background: var(--bg-primary);
  scroll-padding-top: 11.8rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-primary);
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact-banner {
  background-color: var(--accent);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-banner div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-banner a {
  color: #181d1c;

  font-family: Roboto Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-banner svg {
  width: 1.5rem;
  height: 1.5rem;
}

nav {
  position: relative;
  transition: all 0.2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

nav #menu rect {
  transition: all 0.2s ease;
}

nav[open='true'] {
  background-color: #181d1c;
}

nav img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s ease;
  mix-blend-mode: multiply;
  object-fit: contain;
}

nav[open='true'] img {
  opacity: 1;
}

nav[open='true'] #menu rect:first-of-type {
  transform: rotate(41deg) translate(4px, -5px);
}

nav[open='true'] #menu rect:nth-of-type(2) {
  opacity: 0;
}

nav[open='true'] #menu rect:last-of-type {
  transform: rotate(-43deg) translate(-20px, -4px);
}

.container.navbar-container {
  display: flex;
  flex-direction: column;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  width: 100%;
  position: relative;
}

.navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container svg {
  fill: var(--text-primary);
}

nav[open='true'] .navbar-container svg {
  fill: var(--text-secondary);
}

.navbar-container .menuButton {
  background: none;
  border: none;
  padding: 0.25rem;
}

[hidden='true'] {
  display: none;
}

nav ul.container {
  height: 0;
  opacity: 0;
  transition:
    height 0.2s ease,
    opacity 0.5s ease;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

nav li:first-of-type {
  margin-top: 2.5rem;
}

nav li a {
  color: var(--text-secondary);
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 7.2px;
  word-wrap: break-word;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

nav li a:hover {
  color: var(--accent);
}

nav[open='true'] ul {
  height: 100dvh;
  opacity: 1;
}

.spacer {
  height: 11.8rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 0 1.3rem;
  max-width: 67rem;
}

.navbar-container__mobile {
  position: fixed;
  background-color: black;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-container__mobile svg {
  fill: var(--text-secondary);
}

main {
  /* margin-top: 11.8rem; */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-weight: 700;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 6rem;
}

footer a {
  text-decoration: none;
  color: var(--text-primary);
}

footer svg {
  height: 2rem;
  fill: var(--text-primary);
}

@media screen and (min-width: 390px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact-banner a {
    font-size: 1.125rem;
    letter-spacing: 0.225rem;
  }

  .container {
    padding: 0 2rem;
  }

  #toggleMenu {
    display: none;
  }

  #nav-bg {
    display: none;
  }

  nav ul.container {
    height: auto;
    opacity: 1;
    flex-direction: row;
    padding: 0;
  }

  nav li:first-of-type {
    margin-top: 0;
  }

  nav li a {
    color: var(--text-primary);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 7.2px;
  }

  nav li a:hover {
    color: var(--text-primary-60);
  }

  .container.navbar-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav[open='true'] {
    background-color: transparent;
  }

  nav[open='true'] .navbar-container svg {
    fill: var(--text-primary);
  }
}